#dark-theme-gray {
  background: linear-gradient(to bottom left, #2f2f2f 40%, #494949 80%);
}
#dark-theme-blue {
  background: linear-gradient(to bottom left, #2f2f2f 40%, #0C1673 80%);
}
#dark-theme-red {
  background: linear-gradient(to bottom left, #2f2f2f 40%, #730C0C 80%);
}

#light-theme-gray {
  background: linear-gradient(to bottom left, #FFFFFF 40%, #C2B7B7 80%);
}
#light-theme-blue {
  background: linear-gradient(to bottom left, #FFFFFF 40%, #8E97E5 80%);
}
#light-theme-red {
  background: linear-gradient(to bottom left, #FFFFFF 40%, #E58E9E 80%);
}