
:root {
  --text-secondary-color: #ff9900;  
  --text-secondary-color-light: #fead34;

  --background-primary-color: #282c34;
  --background-secondary-color: #444444;
  --background-secondary-color-1: #4f4f4f;
  --background-ternary-color: #5d5d5d;
  --background-ternary-color-1: #7e7d7d;
  --background-ternary-color-2: #6f6f6f;

  --text-primary-color: white;
  --text-ternary-color: #767470;
  --text-ternary-color-2: #A4A7AA;
}

$font-size-primary: 24px;
$font-size-secondary: 12px;