<section class="paging-container p-0 mt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 p-3 pt-2 pb-2 d-flex justify-content-sm-start justify-content-center align-items-center">
        Page {{activePage}} of {{pageCount}}
      </div>
      <div class="col-sm-4 p-3 pt-2 pb-2">
        <div class="hstack gap-2 justify-content-center">
          <div class='ms-sm-auto'>
            Page size:{{' '}}
          </div>
          <div>
            <select
                class="form-select-sm form-select"
                aria-label="Page size" 
                (change)="onPageSizeChange($event)"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-5 p-3 pt-2 pb-2 d-flex justify-content-sm-end justify-content-center">
        <pagination 
          class="pagination pagination-sm"
          previousText="&lsaquo;" 
          nextText="&rsaquo;" 
          firstText="&laquo;" 
          lastText="&raquo;"
          [rotate]="false"
          [boundaryLinks]="true" 
          [totalItems]="totalCount"
          [maxSize]="3"
          [itemsPerPage]="itemsPerPage"
          [ngModel]="activePage" 
          (pageChanged)="onPageChange($event)"
        >
        </pagination>
      </div>
    </div>
  </div>
</section>
