<div class="row">
  <div class="col-12 col-sm-5 p-2">
    <input type="text" class="form-control form-control-sm" id="title" placeholder="Enter title">
  </div>
  <div class="col-12 col-sm-5 p-2">
    <input type="text" class="form-control form-control-sm" id="description" placeholder="Enter description">
  </div>
  <div class="col-12 col-sm-2 p-2">
    <button 
      type="submit" 
      class="btn btn-sm btn-warning"
      [ngStyle]="addButton"
      [disabled]="disabled"
    >
      Add
    </button>
  </div>
</div>