<div class="row p-1">
  <div class="col-12 col-sm-8 p-2">
    <div class="input-group">
      <input 
        ngModel #fileContainer
        type="file"
        class="form-control form-control-sm" 
        [style.cursor]="'pointer'"
        id="choose-file" 
        accept=".json" 
        readOnly 
        (change)="onChooseFile($event)"
      />
    </div>
  </div>
  <div class="col-12 col-sm-2 p-2">
    <button 
      type="button" 
      class="btn btn-sm btn-outline-secondary action-button w-100" 
      [disabled]="!this.file"
      (click)="onImport()"
    >
      Import
      <fa-icon [icon]="faFileImport"></fa-icon>
    </button>
  </div>
  <div class="col-12 col-sm-2 p-2">
    <button 
      type="button" 
      class="btn btn-sm btn-outline-secondary action-button w-100" 
      [disabled]="!this.items || this.items.length === 0"
      (click)="onExport()"
    >
      Export
      <fa-icon [icon]="faFileExport"></fa-icon>
    </button>
  </div>
</div>