@import "~bootstrap/scss/bootstrap";
@import "./style/bootstrap-override.scss";
@import "./style/variables.scss";
@import "./style/themes.scss";
@import "./style/animations.scss";

.item-dragging .App__todo-list__item {
  background-color: var(--background-secondary-color-1);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-list {
  cursor: grab;
}

.App {
  text-align: center;
  padding-bottom: 50px;
  background-color: var(--background-primary-color);
  max-width: 650px;
  margin: auto;

  &-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-size: bold;
    font-style: italic;
    color: var(--text-primary-color);
  }

  &-actions {
    max-width: 650px;
    margin: auto;
    padding-right: 20px;
    background-color: var(--background-secondary-color);
  }

  &__todo-list {
    
    &__item {
      background-color: var(--background-secondary-color);
      margin: 2px 0px;
      padding: 0px 12px;

      &:hover {
        background-color: var(--background-secondary-color-1);
      }

      &-title {
        color: var(--text-secondary-color);
        font-weight: bold;
        font-size: $font-size-primary;
        text-align: left;
        text-decoration: none;
  
        &--completed {
          color: var(--text-ternary-color);
          font-weight: bold;
          font-size: $font-size-primary;
          text-align: left;      
          text-decoration: line-through;
        }
      }
  
      &-description {
        color: var(--text-ternary-color-2);
        font-size: $font-size-secondary;
        text-decoration: none;
        text-align: left;
  
        &--compleated {
          color: var(--text-ternary-color);
          font-size: $font-size-secondary;
          text-decoration: line-through;
          text-align: left;
        }
      }
    }

    &__infinite-scroll-end {
      height: 100px;
      margin: 10px 0px;

      &--bouncing {
        display: inline-block;
        position: relative;
        color: var(--text-secondary-color);

        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;
      }
      
    }
  }

  &__tabs {
    &__header {
      min-height: 40px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &__content {
      position: relative;
      background-color: var(--background-secondary-color);
    }

    &__item {
      padding: 5px 10px;
      cursor: default;
      background-color: var(--background-secondary-color);

      .svg-inline--fa {
        color: var(--text-secondary-color);
      }

      &--inactive {
        cursor: pointer;
        background-color: var(--background-ternary-color);

        .svg-inline--fa {
          color: var(--text-primary-color)
        }

        &:hover {
          background-color: var(--text-secondary-color-light);
          padding-bottom: 10px;
        }
      }
    }
  }

  &__filter {
    height: 55px;
    padding: 15px;
  }

  &__sorting {
    background-color: var(--background-primary-color);
    max-width: 650px;
    padding: 5px 15px;
    margin: 10px auto 5px auto;
    background-color: var(--background-secondary-color);

    &__item {
      user-select: none;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 2px;
      margin-top: 2px;
      background-color: var(--background-ternary-color-2);
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: smaller;
      position: relative;

      &--active {
        color: var(--text-secondary-color);
      }

      &--disabled {
        background-color: var(--background-secondary-color-1);

        span {
          color: var(--text-ternary-color-2);
        }        
      }

      &__icon {
        padding: 0px 6px;

        &-up {
          color: var(--text-secondary-color);
          top: 3px;
          right: 5px;
          position: absolute;
        }
  
        &-down {
          color: var(--text-secondary-color);
          top: 3px;
          right: 5px;
          position: absolute;
        }    
      }   
    }
  }

  &__settings {
    padding: 40px 20px 20px 20px;
    text-align: left;

    &__group {
      position: relative;
      padding: 10px 0px 0px 0px;
      margin-bottom: 20px;
      border: 1px solid var(--text-secondary-color);
      border-radius: 20px;

      &--disabled {
        border-color: var(--text-ternary-color);
      }

      &-label {
        color: var(--text-secondary-color);
        background: var(--background-secondary-color);
        padding: 0px 10px;
        position: absolute;
        left: 35px;
        top: -14px;

        &--disabled {
          color: var(--text-ternary-color);
        }
      }

      &__item {
        margin: 10px 20px;
        color: var(--text-ternary-color-2);

        &--disabled {
          color: var(--text-ternary-color);
        }

        input {
          width: 90px;
          text-align: right;
        }

        .form-switch {
          padding: 0px;
          text-align: right;
        }
      }
    }

    &__theme {
      &__background-color-item {
        border: 1px solid #B5B2B2;        
        width: 60px;
        height: 60px;
        cursor: pointer;
      }
    }
  }

  .clear-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    color: var(--text-ternary-color);
    cursor: pointer;
  }

  .paging {
    color: var(--text-ternary-color-2);
    background-color: var(--background-secondary-color);
    padding: 10px 10px;
  }
}

.content-text {
  color: var(--text-secondary-color);
}

.todo-background {
  background-color: var(--background-secondary-color);
}

.action-button {
  background-color: var(--background-secondary-color);
  color: var(--text-secondary-color); 
  min-width: 90px;
  border-radius: 20px;
  border-color: var(--text-secondary-color);
  padding: 4px 8px;

  &:hover {
    background-color: var(--text-secondary-color);
    border-color: var(--text-secondary-color);
    color: var(--text-primary-color); 
  }
}

.action-icon {
  cursor: pointer;
  color: var(--text-primary-color);

  &--disabled, &--disabled:hover {
    color: var(--text-ternary-color); 
    cursor: default;
  }

  &:hover {
    color: var(--text-secondary-color);
  }
}

.action-icon-front {
  position: absolute;
  left: 7px;
  top: 8px;
}

.action-icon-back {
  color: gray;
}

.icon--inactive {
  color: var(--background-ternary-color);
}

.page-ellipsis > a {
  max-width: 27.11px;
}