<div
  class="app__todo-list__item"
>
  <div class="hstack gap-3">
    <div class="">
      <div [ngClass]="todo.completed ? 'app__todo-list__item-title--completed' : 'app__todo-list__item-title'">
        {{ todo.title }}
      </div>
      <div [ngClass]="todo.completed ? 'app__todo-list__item-description--compleated' : 'app__todo-list__item-description'">
        <span>{{ todo.description }}</span>
        <span *ngIf="todo.createdAt">{{ " (" + (todo.createdAt | date:"EEE MMM dd yyyy") + ")"}}</span>
      </div>
    </div>
    <div class="ms-auto">
      <fa-icon
        *ngIf="!todo.completed"
        [icon]="faCheckDouble"
        class="action-icon"
        (click)="onComplete()"
      ></fa-icon>
      <fa-icon
        *ngIf="todo.completed"
        [icon]="faRotateLeft"
        class="action-icon"
        (click)="onRestore()"
      ></fa-icon>
    </div>
    <div>
      <fa-icon
        [icon]="faTrash"
        class="action-icon"
        (click)="onRemove()"
      ></fa-icon>
    </div>
  </div>
</div>

