<div class="app__todo-list__item fade-in">
  <div class="hstack gap-3">
    <div class="">
      <div [ngClass]="todo.completed ? 'app__todo-list__item-title--completed' : 'app__todo-list__item-title'">
        {{ todo.title }}
      </div>
      <div [ngClass]="todo.completed ? 'app__todo-list__item-description--compleated' : 'app__todo-list__item-description'">
        <span>{{ todo.description }}</span>
        {{ ' ' }}
        <span>{{ todo.createdAt | date }}</span>
      </div>
    </div>
    <div class="ms-auto">
      <fa-icon 
        [icon]="faCheckDouble"
        [ngClass]="todo.completed ? 'action-icon--disabled' : 'action-icon'"
        (click)="onComplete(todo.id)"
      ></fa-icon>
    </div>
    <div [ngClass]="{'ms-todo' : todo.completed}">
      <fa-icon 
        [icon]="faTrash"
        class="action-icon"
        (click)="onRemove(todo.id)"
      ></fa-icon>
    </div>
  </div>
</div>

