<div class="app__todo-list__item">
  <div class="hstack gap-3">
    <div class="">
      <div [ngClass]="todo.completed ? 'app__todo-list__item-title--completed' : 'app__todo-list__item-title'">
        {{ todo.title }}
      </div>
      <div [ngClass]="todo.completed ? 'app__todo-list__item-description--compleated' : 'app__todo-list__item-description'">
        <span>{{ todo.description }}</span>
        {{ ' ' }}
        <span>{{ todo.createdAt | date }}</span>
      </div>
    </div>
    <div class="ms-auto">
      <button 
        [disabled]="todo.completed" 
        class="btn btn-sm"
        [ngClass]="{'btn-outline-secondary': todo.completed, 'btn-outline-success': !todo.completed}"
        (click)="onComplete(todo.id)"
      >
        Complete
      </button>
    </div>
    <div [ngClass]="{'ms-todo' : todo.completed}">
      <button 
        class="btn btn-outline-danger btn-sm" 
        (click)="onRemove(todo.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>

