<section
  id="todo-list-container"
  (scroll)="handleScroll()"
  class="app__todo-list"
  [style]="settings?.general?.listSizeType == ListContainerType.Fixed
  ? {
      height: '' + settings?.general?.fixedListSize + 'px',
      overflow: 'overlay'
    }
  : {}"
>
  <app-loader *ngIf="isLoading$ | async" class=""></app-loader>
  <section
    *ngIf="(isLoading$ | async) === false"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [class]="{ 'drag-list' : displayMode === DisplayMode.All }"
  >
    <div
      *ngFor="let item of items"
      cdkDrag [cdkDragDisabled]="displayMode === DisplayMode.Filtered"
      cdkDragBoundary=".app__todo-list"
      [class]="{'drag-box': items.length > 0 && displayMode === DisplayMode.All}"
    >
      <app-todo-item [todo]="item"></app-todo-item>
      <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
    </div>
  </section>
  <div *ngIf="(isLoading$ | async) === false && items.length === 0" class='text-light mt-5 mb-5'>No data</div>
  <app-loader [height]="150" *ngIf="infiniteScroll.isLoading && settings?.general?.isInfiniteScrollEnabled" class="fade-in"></app-loader>
  <div
    *ngIf="settings?.general?.isInfiniteScrollEnabled
        && !infiniteScroll.isLoading
        && (isLoading$ | async) === false
        && (infiniteScroll.endIndex < originalItems.length)
        && displayMode === DisplayMode.All"
    id="infinite-scroll-end"
    class="app__todo-list__infinite-scroll-end"
  >
    <div class="app__todo-list__infinite-scroll-end--bouncing">
      <fa-icon
        [icon]="faAngleDown"
      ></fa-icon>
      <div>Scroll down to load more</div>
    </div>
  </div>
</section>
