<section
  id="todo-list-container"
  (scroll)="handleScroll()"
  class="app__todo-list"
  [style]="settings?.general?.listSizeType == ListContainerType.Fixed
  ? {
      height: '' + settings?.general?.fixedListSize + 'px',
      overflow: 'overlay'
    }
  : {}"
>
  <app-loader *ngIf="isLoading$ | async" class="fade-in"></app-loader>
  <section *ngIf="(isLoading$ | async) === false">
    <app-todo-item *ngFor="let item of items" [todo]="item"></app-todo-item>
    <div *ngIf="items.length === 0" class='text-light mt-5 mb-5'>No data</div>
    <app-loader [height]="150" *ngIf="infiniteScroll.isLoading && settings?.general?.isInfiniteScrollEnabled" class="fade-in"></app-loader>
  </section>
  <div
    *ngIf="settings?.general?.isInfiniteScrollEnabled && !infiniteScroll.isLoading && (infiniteScroll.endIndex < originalListLength)"
    id="infinite-scroll-end"
    class="app__todo-list__infinite-scroll-end"
  >
    <div class="app__todo-list__infinite-scroll-end--bouncing">
      <fa-icon
        [icon]="faAngleDown"
      ></fa-icon>
      <div>Scroll down to load more</div>
    </div>
  </div>
</section>
