<div>
  <!-- <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div> -->
  <div class="modal-body text-center todo-background content-text">
    <h5>{{text}}</h5>
  </div>
  <div class="modal-footer todo-background border-0 d-flex justify-content-center">
    <button class="btn btn-sm action-button" (click)="confirm()" >Confirm</button>
    <button class="btn btn-sm btn-outline-light" (click)="decline()" >Cancel</button>
  </div>
</div>