<div class="row p-1">
  <div class="col-12 col-sm-10 p-2">
    <input 
      type="text" 
      class="form-control form-control-sm" 
      id="title" 
      placeholder="Enter title"
      [(ngModel)]="searchValue"
      (keyup)="onTyping()"
    >
    <fa-icon 
      *ngIf="searchValue !== ''" 
      [icon]="faCircleXmark" 
      class="clear-icon"
      (click)="onClearSearch()"></fa-icon>
  </div>
  <div class="col-12 col-sm-2 p-2">
    <button 
      type="button" 
      class="btn btn-sm btn-outline-secondary action-button" 
      [disabled]="ifSearchIsEmpty"
      (click)="onSerach()"
    >
      Search
    </button>
  </div>
</div>