@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 700);
$my-accent: mat.define-palette(mat.$orange-palette, 700);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);


.drag-list {
  cursor: grab;
}

.drag-box {
  cursor: grab;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .app__todo-list__item {
    background-color: $background-secondary-color-1;
    cursor: grabbing;

    &:hover {
      cursor: grabbing;
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: grabbing;
}

.drag-list.cdk-drop-list-dragging {
  cursor: grabbing;

  .app__todo-list__item:hover {
    background-color: $background-secondary-color;
  }
}

.drag-custom-placeholder {
  background: $background-primary-color;
  border: transparent;
  min-height: 55px;
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}
